@font-face {
  font-family: auch;
  src: url(../fonts/auch.otf);
}

@font-face {
  font-family: alexana;
  src: url(../fonts/alexana.ttf);
}

@font-face {
  font-family: potra;
  src: url(../fonts/potra.ttf);
}

@font-face {
  font-family: castela;
  src: url(../fonts/castela.ttf);
}

body, html { 
  background: url("background1.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
  color: white;
}

.card .card-image .image img {
  height: 50%;
  width: 35%;
  display: block;
  /* margin-left: 90px;
  margin-right: 90px; */

}

.card .card-image {
  display: block;
}


.bodyText {
  font-family: auch;
}

.titletext {
  font-family: castela;
  font-size: 45px;
  color:white;
}

.signButton {
  background-color: purple;
  border: transparent;
  color: white;
}

.navbar {
  padding: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

}

.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleText {
  font-family: castela;
}

.headerText {
  font-family: potra;
}

.specialText {
  font-family: alexana;
}

.card {
  width: 90%;
  float: left;
  margin: 11px;
  height: 80%;
  margin-bottom: 40px;
}

.card-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}

.card-content1 {
  margin-left: 150px;
}

.imageProfile {
    width: 40%;
    height: 40%;
    
}

.profile {
    border-radius: 50%;
    width: 40%;
    height: 40%;
}


.matchProfile {
  border-radius: 50%;
  width: 370px; 
  height: 350px; 
  margin-left: 40px; 
  margin-top: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    margin: 60px;
    float: none;
  }

  .container {
    display: block;
    width: 100%;
    
  }

  .container2 {
    
    display: block;
    width: 100%;
    
  }

  .blank {
    float: left;
    margin-top:40px;
  
    
  }

  .spiritAnimal {
    width: 250px;
    height: 30px;
  }

  .autocomplete-items {
  position: absolute;

  width: 250px;
  height: 30px;
  
  
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}


  @media screen and (max-width: 800px) {
 
    .card .card-image,
    .card .card-image .image img,
    .card {
      height: 80%;
      width: 75%;
      display: block;
    margin-left: 20px;
    margin-right: 20px;
   
    
   
  }

    /* 
...all styles specific to mobile portrait view go here
media query for mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {

    .card .card-image,
    .card .card-image .image img,
    .card {
      height: 100%;
      width: 110%;
    }
    
    .card {
        width: 110%;
    }
    }
  }